p.bio {
    color: #5628a6;
}

html {
    font-size: 14px;
    font-family: "Monospace", monospace;
    background-color: #a0cffd;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: "Courier New", courier-new;
    color: rgb(173, 57, 134)
}

h3 {
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}